@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212; /* Dark background */
        color: #ffffff;          /* Light text color */
    }

    a {
        color: #bb86fc;          /* Accent color for links */
    }

    .language-python.highlighter-rouge .highlight code, .language-python.highlighter-rouge .highlight pre {
        background-color: #1e1e1e; /* Dark background for preformatted text */
        color: #d4d4d4;            /* Light text color */
        padding: 10px;             /* Padding around the text */
        border-radius: 6px;        /* Rounded corners */
    }

}

  .highlighted-text { 
      color: #e30b5d; 
  }
