@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212; /* Dark background */
        color: #ffffff;          /* Light text color */
    }
}

.highlight pre {
    background-color: #2b2b2b; /* Monokai dark background */
    color: #f8f8f2;           /* Monokai text color */
    border-radius: 5px;       /* Rounded corners */
    padding: 10px;
    overflow: auto;
}

.highlighted-text { 
    color: #e30b5d; 
}
